body {
    background-color: rgb(19, 19, 19);
    max-width: 43.75rem;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 200;
    transition: 0.2s;
    display: inline;
    font-size: 4rem;
}
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:auto;
    height:auto;
    font-size: 1rem;
    font-weight:200;
    color: rgb(183, 121, 248);
    background: rgb(41, 41, 41);
    border-radius: 1.563rem;
    border-color: rgb(240,240,240);
    border-style:solid;
    transition: 0.1s;
    margin-right: 2rem;
}
h1:hover {  
    font-weight: bold;  
    font-size: 4.5rem;
}
button:hover {
    background: rgb(50,50,50);
    font-size:1.1rem;   
    font-weight: bold;
    transition: 0.2s;
}
button:active {
    font-weight: bolder;
    font-size: 1.3rem;
    transition: 0.3s;
}
a {
    color: white;
}
textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(41,41,41);
    color: rgb(183,121,248);
    width: 45rem;
    min-width: 45rem;
    max-width:45rem;
    height: 1rem;
    max-height: 2rem;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 200;
    transition: 0.2s;
    display: inline;
    font-size: 1rem;
    overflow-wrap: break-word;
}
#user {
    margin-left: 20rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 400;
    transition: 0.2s;
    display: inline;
    font-size: 1rem;
}